.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
@media not all and (hover: none) {
.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}}
.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    text-align: center;
}
.portfolio__item-cta {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    left: 50%;
}
.github {
    display: block;
    margin: 0 auto;

}
/*TABLET*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/*GSM*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}