
.languages__container {
    display: flex;
    left: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    gap: 0.5rem;
    position: absolute;
}
.languages__container button {
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-primary);
    transition: var(--transition);
}
.languages__container button:hover {
    cursor: pointer;
    color: var(--color-white);
}